<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${restaurantName}">Об авторе</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:replace="includes/header :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/img/me.jpg" alt="Author Photo" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-8">
            <h2>Об авторе</h2>
            <p>Студентка 3 курса, бакалавриат</p>
            <p>Группа ПИ22-2</p>
            <p>Бабкина Татьяна Дмитриевна</p>

        </div>
    </div>
</div>

<!--<footer th:replace="includes/footer :: footer"></footer>-->
<!-- Bootstrap JS и зависимости -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/url-init.js"></script>
<script src="/js/logout.js"></script>
</body>
</html>
